header
{

height: 45px;
background-color: darkgrey;
border: solid 3px;
border-radius: 15px;
z-index: 9999;
 position: fixed;
 top: 0;
 width: 100%;
}


body
{
  
  margin-top: 100px;
  background-size: cover;
  background-position: center;
  background:url('http://www.wallpaperup.com/uploads/wallpapers/2012/09/16/15073/763a42a889a803701db274188a6fcef9.jpg') no-repeat no-repeat fixed;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}
img
{
  margin-top: 15px;
  margin-left: auto;
   margin-right: auto;
  width: 600px;
  border-radius: 50px;
}
footer
{
height: 50px;
background-color: darkgrey;
z-index: 9999;
 position: fixed;
 bottom: 0;
 width: 100%;
}
.btn {
  margin-top: 5px;
  display: inline-block;
  color: darkgrey;
  border: 2px outset rgba(0, 0, 0, 0.9);
  background: white;
  text-shadow: 1px 1px 1px rgba(0,0,0, 20);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  letter-spacing: 2px;
  transition: 0.2s;
  background-color: lightblue;
  width: 100px;
  border-radius: 50px;
  font-style: fantasy, ;
}

.btn:hover {
	color: #fff;
  border: 2px outset rgba(0, 0, 0, 0.9);
  background: rgba(0,0,0, 0.9);
  transform:scale(1.1);
  transition: 0.2s;
  text-shadow: 1px 1px 1px rgba(0,0,0, 20);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  letter-spacing: 2px;
}
